.card {
    /* background-color: rgb(127, 174, 244); */
    background-color: rgb(57, 158, 41);
    width: 45%;
    margin-top: 2em;
    margin-bottom: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
}