.cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.card {
    color: white; 
    background-color: rgb(57, 158, 41);
    width: 45%;
    border-radius: 8%;
    margin-top: 2em;
    margin-bottom: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
}