@media (max-width: 768px) {
  body {
    background-size: 175% 100%;
  } 
  
  .heading {
    font-size: 3em;
  }

  a { 
    font-size: 1.5em;
  }
}

@media (min-width: 769px) {
  .heading {
    font-size: 4em;
  }

  a { 
    font-size: 2em;
  }
}

body {
  margin: 0;
  padding: 0;
  background-image: url(https://www.amnhealthcare.com/siteassets/amn-insights/blog/covid-articles/supporting-healthcare-heroes.jpg?format=webp);
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  font-family: "Gill Sans", sans-serif;
} 

.header-and-nav {
  background-color: rgb(27, 45, 83);
  margin-bottom: 1em;
}

.heading {
  text-align: center;
  color: rgb(251, 251, 125);
  padding-top: 0.5em;
  margin-top: 0;
}

nav {
  padding-bottom: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

a {
  color: white;
}

.encouragement-section {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
}