.favs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.fav-card {
    color: white; 
    background-color: rgb(48, 135, 35);
    width: 45%;
    border-radius: 8%;
    box-shadow: 5px 10px 18px yellow;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 1em 1.5em 1em 1.5em;
}