.page-not-found {
    background-color: rgb(7, 88, 7);
    color: white;
    width: 48%;
    border-radius: 5%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.page-not-found-header {
    font-size: 3em;
}

.not-found-paragraph {
    font-size: 1.5em;
}