@media (max-width: 768px) {
    .page-not-found-header {
        font-size: 2em;
    }

    .not-found-paragraph {
        font-size: 1em;
    }
}
 
 @media (min-width: 769px) {
    .page-not-found-header {
        font-size: 3em;
    }

    .not-found-paragraph {
        font-size: 1.5em;
    }
}

.page-not-found {
    background-color: rgb(7, 88, 7);
    color: white;
    border-radius: 5%;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4em;
    padding: 1em 1em 1em 1em;
}